.container{
    display: grid;
    background-color: rgb(209, 51, 12);
    grid-template-columns: 200px 200px;
    grid-auto-rows:minmax(50px, auto);
   
}

.container2{
    display: grid;
    background-color: rgb(6, 82, 197);
    grid-template-columns: 200px 200px 100px 200px;
    grid-auto-rows: minmax(50px, auto);
    margin-top:50px;
    
   
}



.item{
    background-color:rgb(175, 150, 169);
    margin: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
    padding: 10px;
}

h1{
    text-align: center;
    color: white;
    background-color:rgb(77, 41, 161);
}